<ion-header>
  <ion-toolbar align-items-center>
    <ion-grid>
        <ion-row style="vertical-align: middle">
          <ion-col col-2>
          </ion-col>
          <ion-col col-8 text-center style="vertical-align: middle; font-size: 16px; color: #333;font-weight: 500;margin-top: 10px">
            <strong>Contact Me</strong>
          </ion-col>
          <ion-col col-2>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
          <ion-card-title>Timothy Kipkorir Serem</ion-card-title>
          <ion-card-subtitle>Phone Number: +254711928250</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Work email: Timothy.Serem@efectiu.co.ke
          Home email: kipkorirtimserem@outlook.com
        </ion-card-content>
      </ion-card>

</ion-content>
